@{
    ViewData["Title"] = "Pizze JavaScript";
    Layout = "_PizzeriaLayout";
}

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <h1>Lista delle pizze</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <h4>Non hai inserito nessuna pizza</h4>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-3 mb-5">
        <div class="col-12 mb-3 d-flex justify-content-center">
            
        </div>
    </div>
</div>

<script>

</script>
