/* INDICAZIONI GENERALI */
html {
  font-size: 17px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

/* HEADER */
header {
    background-image: url('../img/sfondo-hf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
    font-size: 20px;
    transition: border-bottom 0.5s;
}

.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link:hover {
    color: #219652 !important;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent; 
    transition: background-color 0.3s, bottom 0.3s, color 0.3s; 
}

.nav-footer::before {
    width: 0;
}

.nav-link:hover::before,
.nav-link:active::before {
    background-color: #219652;
    bottom: -4px;
}

/* JUMBOTRON */
.carousel-item {
    position: relative;
    height: 100%;
}

.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.carousel-item h5,
.carousel-item p {
    text-shadow: 0 0 12px #000, 0 0 7px #000, 0 0 4px #000, 0 0 2px #000;
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 4;
}

.carousel-dark-overlay {
    position: relative;
}

.carousel-dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* Testo sopra l'overlay */
.carousel-dark-overlay .carousel-caption {
    position: relative;
    top: 35%;
    left: 0px;
    right 0px;
    z-index: 2;
}

.jumbo {
    background-image: url('../img/jumbo-pizza.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .carousel-caption {
        font-size: 0.8rem; 
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        font-size: 0.7rem;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: 1.3rem !important;
        padding: 0 40px;
    }
}

/* MAIN */
.my-list-card {
    transition: box-shadow 0.5s, transform 0.5s;
}

.my-list-card:hover {
    box-shadow: 0px 0px 10px 0px #FF9D2E;
    transform: scale(1.03); 
}

.row-detail-card {
    --bs-gutter-x: 0;
}

.ingredients {
    background-color: #FF9D2E;
    border: solid #FF9D2E;
    border-radius: 5px;
}

.personal-bg {
    background-color: #E9ECEA;
}

/* BUTTON FORM FOR MOBILE */
@media (max-width: 768px) {
    .btn-crea-modifica {
        width: 100%;
    }
}

/* FOOTER */
footer {
    background-image: url('../img/sfondo-hf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
}

.copy{
    font-size: 15px;
}